<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.honeybee.rbac.mapper.RbacPermissionMapper">

    <resultMap id="BaseResultMap" type="org.honeybee.rbac.entity.RbacPermission">
        <result column="id" property="id" />
        <result column="parent_id" property="parentId" />
        <result column="code" property="code" />
        <result column="name" property="name" />
        <result column="type" property="type" />
        <result column="description" property="description" />
        <result column="config" property="config" />
        <result column="delete_status" property="deleteStatus" />
        <result column="created_by" property="createdBy" />
        <result column="created_time" property="createdTime" />
        <result column="updated_by" property="updatedBy" />
        <result column="updated_time" property="updatedTime" />
        <result column="version" property="version" />
    </resultMap>

    <sql id="Base_Column_List">
        id, parent_id, code, name, type, description, config, delete_status, created_by, created_time, updated_by, updated_time, version
    </sql>

    <select id="findByRoleIdsAndType" resultMap="BaseResultMap">
        SELECT
        rp.id, rp.parent_id, rp.code, rp.name, rp.type, rp.description, rp.config, rp.delete_status, rp.created_by, rp.created_time, rp.updated_by, rp.updated_time, rp.version
        FROM rbac_permission rp
            LEFT JOIN rbac_role_permission rrp ON rp.id = rrp.permission_id
        <where>
            rp.delete_status = 0
            <if test="roleIds != null">
                AND rrp.role_id IN
                <foreach collection="roleIds" index="index" item="roleId" open="(" separator="," close=")">
                    #{roleId}
                </foreach>
            </if>

            <if test="type != null">
                AND rp.type = #{type}
            </if>
        </where>

    </select>

</mapper>
