<?xml version="1.0" encoding="UTF-8"?>
<configuration  scan="true" scanPeriod="300 seconds" debug="false">
    <contextName>logback</contextName>
    <property name="log.project.path" value="log" />
    <!--自定义颜色配置-->
    <conversionRule conversionWord="customcolor" converterClass="org.honeybee.base.config.log.LogbackColorful"/>

    <!--输出到控制台-->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <!--<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
             <level>DEBUG</level>
         </filter>-->
        <encoder>
            <pattern>%customcolor(%d{HH:mm:ss.SSS} %contextName [%thread] %-5level %logger{36}) %line - %msg%n</pattern>
        </encoder>
    </appender>

    <!--输出到文件-->
    <appender name="file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${log.project.path}/logback.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxHistory>30</maxHistory>
            <maxFileSize>50MB</maxFileSize>
        </rollingPolicy>
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %contextName [%thread] %-5level %logger{36} %line - %msg%n</pattern>
        </encoder>
        <!-- 配置只输出INFO以上级别的日志 -->
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="console" />
        <appender-ref ref="file" />
    </root>

</configuration>